<div class="comment-container">
    <span>
    <div class="card comment-box">
        <p class="card-text comment-text"><%= comment.text %></p>
    </div>
    </span>
    <!-- <small class="text-muted ml-2"><%= getTimeDiff(new Date(comment.time)) %></small> -->
</div>
