<div class="card">
    <div class="card-block">
        <h4 class="card-title"><a href="<%= data.post %>"><%= data.title %></a></h4>
        <p class="card-text"><small class="text-muted"><%= getTimeDiff(new Date(data.time)) %></small></p>
    </div>
</div>
