<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Note Share</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <!-- <nav class="navbar navbar-static-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">Project name</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav> -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-white">Note Share</h1>
            <p class="lead text-white hidden-sm-down">The collaborative notes project</p>
            <p><a class="btn btn-outline-secondary btn-lg" href="#" role="button" data-toggle="modal" data-target="#postModal">Contribute</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
                <div class="sidebar-nav-fixed affix">
                    <form class="bd-search">
                        <input type="text" class="form-control" disabled id="search-input" placeholder="Search..." autocomplete="off">
                        <div class="dropdown-menu bd-search-results" id="search-results"></div>
                    </form>
                    <br/>
                    <div class="hidden-sm-down">
                        <h3>Sidebar</h3>
                        <p>Hella cool side bar content that I don't have time to write.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Hot</a>
                    </li>
                </ul>
                <br/>

                <% posts.forEach(function(el, index) {
                    data = posts[index];%>
                    <%include partials/post%>
                        <%}); %>

                            <p><a class="btn btn-secondary" href="#" role="button">Load More</a></p>
            </div>
        </div>

        <!-- New Post Modal -->
        <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="api/newPost" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">New Post</h4>
                        </div>
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Title:</label>
                                    <input type="text" class="form-control" name="title" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="form-control-label">Post:</label>
                                    <textarea class="form-control" name="text" id="text"></textarea>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>

        <footer>
            <p>&copy; [Redacted] 2016</p>
        </footer>
    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script src="javascripts/index.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

</body>

</html>
