.jumbotron {
    background-color: #563d7c;
    border-radius: 0;
}
#contribute {
    color: white;
    border-color: white;
}
#contribute:focus {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
}
.form-pill {
    width: 49%;
    text-align: center;
    padding-bottom: 20px;
}
.delete-btn {
    float: right;
}
.delete-btn:focus {
    background-color: rgba(0, 0, 0, 0);
}
.btn-outline-danger:hover {
    color: #d9534f;
    background-color: #fff;
}
.card {
    margin-bottom: 10px;
}
.card-img {
    width: 100%;
    height: 100%;
}
#uploadProgress {
    margin-top: 10px;
}
#fileLabel {
    width: 100%;
    margin-top: 10px;
}
.text-muted.right {
    float: right;
    margin-top: 3px;
}
.card-img.rounded {
    margin-bottom: 5px;
    margin-top: 5px;
}
.card-outline-purple{
    background-color: transparent;
    border: 2px solid;
    border-color: #563d7c;
}
.no-pad{
    padding: 0;
}
.comment-box{
    display: inline-block;
    /*background-color: rgba(86, 61, 124, 0);
    border-color: #563d7c;*/
}
.comment-text{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    /*color: #563d7c;*/
}
#comment{
    width:100%;
}
#commentSubmit{
    margin-left: 10px;
}
#particles-js {
    position: fixed;
    width: 100%;
}
