.jumbotron {
    background-color: #563d7c;
    border-radius: 0;
}

.btn-outline-secondary{
    color: white;
    border-color: white;
}

.btn-outline-secondary:focus {
    background-color: rgba(0, 0, 0, 0);
}

.form-pill{
    width: 49%;
    text-align: center;
    padding-bottom: 20px;
}
